@page "/manage-guests"

@using Microsoft.AspNetCore.Components.QuickGrid;
@using WeddingApp.Clients.WeddingApi.Models;

<PageTitle>Manage Guests</PageTitle>
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Manage Guests</h3>
        </div>
    </div>
    @if (_guests is null)
    {
        <div class="d-flex h-100 justify-content-center align-items-center">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col">
                <span class="badge text-bg-warning">Requested: @(_guests.Count(g => g.Rsvp == Guest.RsvpState.Requested))</span>
                <span class="badge text-bg-success">Attending: @(_guests.Count(g => g.Rsvp == Guest.RsvpState.Attending))</span>
                <span class="badge text-bg-danger">Declined: @(_guests.Count(g => g.Rsvp == Guest.RsvpState.Declined))</span>
                <span class="badge text-bg-secondary">Meatloaf: @(_guests.Count(g => g.Dinner == "Meatloaf"))</span>
                <span class="badge text-bg-secondary">Chicken: @(_guests.Count(g => g.Dinner == "Chicken"))</span>
            </div>
            <div class="col">
                <button class="btn btn-primary float-end" @onclick="AddGuest"><span class="bi bi-person-plus-fill me-2" aria-hidden="true"></span>Add Guest</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <QuickGrid Class="table table-striped" Items="@_guests" Pagination="_guestsTablePagination">
                    <PropertyColumn Class="align-middle" Property="@(g => g.Name)" Sortable="true" IsDefaultSortColumn="true" Title="Name" />
                    <TemplateColumn Class="align-middle" Sortable="true" Title="RSVP">
                        @if (context.Rsvp == Guest.RsvpState.Requested)
                        {
                            <span class="badge rounded-pill text-bg-warning">Requested</span>
                        }
                        else if (context.Rsvp == Guest.RsvpState.Attending)
                        {
                            <span class="badge rounded-pill text-bg-success">Attending</span>
                        }
                        else if (context.Rsvp == Guest.RsvpState.Declined)
                        {
                            <span class="badge rounded-pill text-bg-danger">Declined</span>
                        }
                    </TemplateColumn>
                    <PropertyColumn Class="align-middle" Property="@(g => g.InvitedBy)" Title="Invited by" />
                    <PropertyColumn Class="align-middle" Property="@(g => g.Address)" Title="Address" />
                    <PropertyColumn Class="align-middle" Property="@(g => g.Phone)" Title="Phone" />
                    <PropertyColumn Class="align-middle" Property="@(g => g.Dinner)" Title="Dinner" />
                    <TemplateColumn Class="column-fit" Align="Align.Center">
                        <div class="d-flex my-1">
                            <button class="btn btn-sm btn-warning text-nowrap" title="Edit" @onclick="@(() => EditGuest(context))"><span class="bi bi-pencil-fill" aria-hidden="true"></span></button>
                            <button class="btn btn-sm btn-danger ms-1 float-end text-nowrap" title="Delete" @onclick="@(() => DeleteGuest(context))"><span class="bi bi-trash3-fill" aria-hidden="true"></span></button>
                        </div>
                    </TemplateColumn>
                </QuickGrid>
            </div>
        </div>
    }
</div>