@page "/rsvp"

<PageTitle>Rsvp</PageTitle>

<style>
    /* 
        Override MainLayout CSS from this page. Not possible to do using CSS Isolation at the moment.
        See https://github.com/dotnet/aspnetcore/issues/40370. Possibly could create another layout instead?
    */
    .page {
        background: url('/img/wedding-background.jpg') no-repeat center center fixed;
        background-size: cover;
        height: 100vh;
    }

    article {
        height: 100%;
    }
</style>

<div class="container h-100 d-flex">
    <div class="row flex-grow-1 align-items-center">
        <div class="col d-flex justify-content-center">
            @if (_isAttending is null)
            {
                <div class="bg-white rounded text-center p-5">
                    <h1 class="display-5 fw-bold">We're getting married!</h1>
                    <p class="lead mb-4">Can you join us on our special day?</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <button class="btn btn-primary btn-lg px-4 gap-3 w-100" @onclick="() => _isAttending = true">Of course!</button>
                        <button class="btn btn-outline-secondary btn-lg px-4 w-100" @onclick="() => _isAttending = false">Regretfully not</button>
                    </div>
                </div>
            }
            else
            {
                if (_isAttending == true)
                {
                    <div class="bg-white rounded p-5">
                        <EditForm Model="@Rsvp" OnValidSubmit="@Submit">
                            <DataAnnotationsValidator />
                            <div class="mb-3">
                                <label for="inputPhone" class="form-label">Phone</label>
                                <InputText class="form-control" id="inputPhone" @bind-Value="Rsvp.Phone"></InputText>
                            </div>
                            <div class="mb-5">
                                <label for="inputDinnerSelection" class="form-label">What would you like to eat?</label>
                                <InputSelect class="form-control" id="inputDinnerSelection" @bind-Value="Rsvp.DinnerSelection">
                                    <option value="@DinnerSelection.Chicken">Chicken</option>
                                    <option value="@DinnerSelection.Meatloaf">Meatloaf</option>
                                </InputSelect>
                            </div>
                            @for (int i = 0; i < Rsvp.Guests.Count; i++)
                            {
                                var guest = Rsvp.Guests[i];

                                <h3>Guest @i</h3>
                                <div class="mb-3">
                                    <label for="@($"inputGuestName{i}")" class="form-label">Name</label>
                                    <InputText class="form-control" id="@($"inputGuestName{i}")" @bind-Value="guest.Name"></InputText>
                                </div>
                                <div class="mb-5">
                                    <label for="@($"inputGuestDinnerSelection{i}")" class="form-label">What would they like to eat?</label>
                                    <InputSelect class="form-control" id="@($"inputGuestDinnerSelection{i}")" @bind-Value="guest.DinnerSelection">
                                        <option value="@DinnerSelection.Chicken">Chicken</option>
                                        <option value="@DinnerSelection.Meatloaf">Meatloaf</option>
                                    </InputSelect>
                                </div>
                            }
                            <ValidationSummary />
                            <div class="mb-3">
                                <button class="btn btn-secondary" onclick="@(() => Rsvp.Guests.Add(new()))">Add Guest +</button>
                            </div>
                            <div>
                                <button class="btn btn-success" type="submit">Send RSVP</button>
                            </div>
                        </EditForm>
                    </div>
                }
                else
                {
                    <p>We're sorry to hear that, but thank you for responding!</p>
                }
            }
        </div>
    </div>
</div>